

  
 #div1, #div2, #div3 {
    float: left;
    width: 150px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(243, 243, 243);
  }

  #div4, #div5, #div6 {
    float: left;
    width: 150px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(244, 160, 6);
  }

  #div7, #div8, #div9 {
    float: left;
   
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(238, 11, 11);
  }

  .grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 500px;
  }


body {
    background-color: rgb(243, 209, 164);
    
}

.text {
  
  color: rgb(50, 9, 9);
  font-size: 25px;
  border: 3px solid rgb(56, 8, 8);
  padding: 1cm;
}

.text2 {
  font-family: monospace;
  color: rgb(35, 3, 3);
  font-size: 15px;
}
